.profile {
    flex: 0.47;
    border-right: 1px solid var(--twitter-background);
    overflow-y: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
}

.profile::-webkit-scrollbar {
    display: none;
}

.profile__topper {
    width: 100%;
    position: sticky;
    top: 0;
    height: 55px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    padding: 10px 0;
    z-index: 10;
}

.profile__topperSub {
    margin-left: 15px;
}

.profile__topperName {
    font-size: 20px;
    font-weight: 700;
}

.profile__topperTweets {
    font-size: 13px;
    font-weight: 400;
    color: var(--twitter-gray);
}

.profile__arrow {
    cursor: pointer;
    height: 34px;
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.profile__arrow:hover {
    border-radius: 50%;
    background: var(--twitter-extra-light-gray)
}

.profile__arrow:active {
    border-radius: 50%;
    background: var(--twitter-light-gray)
}

.profile__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.profile__image {
    border-radius: 50% !important;
    height: 125px !important;
    width: 125px !important;
    border: 4px solid #fff !important;
    position: absolute !important;
    top: 125px !important;
    margin-left: 15px !important;
}

.profile__banner {
    background: var(--twitter-blue);
    min-height: 200px;
}

.profile__followButton {
    position: absolute !important;
    top: 200px !important;
    right: 20px !important;
    border: 1px solid var(--twitter-light-gray) !important;
    color: var(--twitter-black) !important;
    font-weight: 700 !important;
    font-size: 15px !important;
    text-transform: inherit !important;
    border-radius: 18px !important;
    height: 36px !important;
    margin-top: 20px !important;
    max-width: 225px !important;
}

.profile__followButton:hover {
    background-color: var(--twitter-extra-light-gray) !important;
}

.profile__names {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding: 0 15px;
    margin-bottom: 15px;
}

.profile__names h3 {
    font-size: 20px;
    font-weight: 800;
}

.profile__names p {
    font-size: 15px;
    color: var(--twitter-gray);
}

.profile__userInfo {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.profile__userBio {
    font-size: 15px;
    margin-bottom: 20px;
}

.profile__userDate {
    font-size: 15px;
    margin-bottom: 20px;
    justify-self: center;
    color: var(--twitter-gray)
}

.profile__userFollow {
    font-size: 15px;
    margin-bottom: 20px;
}

.profile__userFollowing {
    display: inline;
}

.profile__userFollowing:hover  {
    text-decoration: underline;
}

.profile__userFollowing p {
    display: inline;
}

.profile__userFollowers {
    display: inline;
    margin-left: 20px;
}

.profile__userFollowers:hover  {
    text-decoration: underline;
}

.profile__userFollowers p {
    display: inline;
}

.profile__tweets {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile__tweetHeader {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: var(--twitter-gray);
    font-size: 15px;
    font-weight: 500;
    border-bottom: 1px solid var(--twitter-extra-extra-light-gray);
}

.profile__tweetHeaderActive {
    color: var(--twitter-black);
    font-weight: 700;
    display: flex;
    flex: 1 0 21%;
    height: 55px;
    align-items: center;
    justify-content: center;
}

.profile__tweetHeaderActive:hover {
    background: var(--twitter-extra-light-gray);
    transition: background 200ms ease-in-out;
}

.profile__tweetHeaderOption {
    display: flex;
    flex: 1 0 21%;
    height: 55px;
    align-items: center;
    justify-content: center;
}

.profile__tweetHeaderOption:hover {
    background: var(--twitter-extra-light-gray);
    transition: background 200ms ease-in-out;
}

.profile__editBanner {
    background: var(--twitter-blue);
    min-height: 193px;
}

.profile__editImage {
    border-radius: 50% !important;
    height: 112px !important;
    width: 112px !important;
    border: 4px solid #fff !important;
    position: absolute !important;
    top: 204px !important;
    margin-left: 15px !important;
}

.profile__editButton {
    background-color: var(--twitter-black) !important;
    border: none !important;
    color: white !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    text-transform: inherit !important;
    border-radius: 16px !important;
    width: 65px;
    height: 32px !important;
    margin-left: auto !important;
    margin-right: 20px !important;
}

.profile__editName {
    display: flex;
    flex-direction: column;
    height: 56px;
    width: auto;
    margin: 16px;
    margin-top: 89px;
    border: 1px solid var(--twitter-light-gray);
    border-radius: 4px;
    color: var(--twitter-gray);
}

.profile__editName:focus-within {
    outline: 2px solid var(--twitter-blue);
    border: 1px solid #fff;
    color: var(--twitter-blue);
    transition: color 100ms ease-in-out;
}

.profile__editName span {
    font-size: 13px;
    padding: 8px;
}


.profile__editName input {
    font-size: 17px;
    border: none;
    margin: 0 8px;
    outline: none;
}

.profile__editBio {
    display: flex;
    flex-direction: column;
    height: 96px;
    width: auto;
    margin: 16px;
    margin-top: 26px;
    border: 1px solid var(--twitter-light-gray);
    border-radius: 4px;
    color: var(--twitter-gray);
}

.profile__editBio:focus-within {
    outline: 2px solid var(--twitter-blue);
    border: 1px solid #fff;
    color: var(--twitter-blue);
    transition: color 100ms ease-in-out;
}

.profile__editBio span {
    font-size: 13px;
    padding: 8px;
}

.profile__editBio input {
    font-size: 17px;
    border: none;
    margin: 0 8px;
    outline: none;
}

/* FOLLOW PAGE */

.follow__topperContainer {
    width: 100%;
    border-bottom: 1px solid var(--twitter-extra-extra-light-gray);
}

.follow__topperTabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.follow__topperFollow {
    display: flex;
    flex: 50%;
    height: 55px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    color: var(--twitter-gray);
    text-decoration: none;
}

.follow__topperFollow:hover {
    background: var(--twitter-extra-light-gray);
    transition: background 200ms ease-in-out;
}

.follow__topperActive {
    display: flex;
    flex: 50%;
    height: 55px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    color: var(--twitter-black);
    text-decoration: none;
    position: relative;
}

.follow__topperActive::after {
    content: "";
    background: var(--twitter-blue);
    position: absolute;
    height: 4px;
    margin: auto;
    bottom: 0;
    width: 70px;
    border-radius: 3px;
}